<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vitlCoupons" translate="label" sortOrder="10">
            <label>Vitl Coupons</label>
        </tab>
        <section id="vitlconfiguration" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>vitlCoupons</tab>
            <resource>DavidMorales_VitlCoupons::vitlcoupons_config</resource>
            <group id="status" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Coupon options</label>
                <field id="rule" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Rule Id</label>
                    <comment>The promotion rule which the coupons will be assigned to.</comment>
                </field>
                <field id="product" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product SKU</label>
                    <comment>The product to check in the order.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
